@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #ba30ff;
	background-image: 
		radial-gradient(at 20% 80%, #D76DA9 0, transparent 100%),
		radial-gradient(at 80% 20%, #66FDF7 0, transparent 100%);
}
body.dark {
	background: #8000ff;
	background-image: 
		radial-gradient(at 20% 80%, hsl(212.37, 72%, 59%) 0, transparent 100%),
		radial-gradient(at 80% 20%, hsl(289.90, 87%, 47%) 0, transparent 100%);
}
